.flex-box-cont-bmi, .flex-box-cont-bmi-1 {
    display: flex;   
    border: solid rgb(34, 34, 34);
    padding: 8px ;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 11px;
}

.flex-box-cont-bmi-1 {
    flex-wrap: wrap;
    flex-direction: column;
}

.container-4 h2{
    background-color: rgb(0, 0, 0);
    color: rgb(248, 225, 16);
    border-radius: 15px;
    padding-top: 10px ;
    padding-bottom: 10px;
    font-family: cursive;
}

.container-4 {
    border: solid rgb(226, 175, 9);
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

input {
   border-radius: 10px;
}

input:focus {
    outline: none;
}
